<section>
    <div id='navbar' ui-view='navbar'></div>
    <div class="header">Login</div>
    <div class="content" ng-if="!authCtrl.user">
        <button ng-click="authCtrl.googleSignIn()" class="ui google plus button">
            <i class="google icon"></i> Google
        </button>

        <!-- <button ng-click="signIn()" class="ui facebook button">
            <i class="facebook icon"></i> Facebook
        </button> -->

        <div class="ui form">
            <div class="field">
                <label for: "email">Email:</label>
                <input type="text" name="email" ng-model="authCtrl.email" placeholder="Enter Email" required>
            </div>

            <div class="field">
                <label for: "password">Password:</label>
                <input type="text" name="password" ng-model="authCtrl.password" placeholder="Enter Password" required>
            </div>

            <p ng-if="authCtrl.error">
                Error: <span class="bold">{{ authCtrl.error }}</span>
            </p>
        </div>
    </div>

    <div class="content" ng-if="authCtrl.user">
        <p>You are already logged in</hp>
    </div>

    <div class="actions">
        <button ng-click="authCtrl.loginHide()" class="ui negative cancel button">Cancel</button>
        <button ng-click="authCtrl.signIn()" class="ui positive approve button">Login</button>
    </div>
</section>
